@import "../variables.scss";

.c-input {
  border-radius: 4px;
  border: 1px solid $gray1;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  &--text {
    font-size: 12px;
    color: $gray2;
  }

  input {
    color: $text;
    border: none;
    outline: none;
  }
}

.g-select {
  position: relative;
  
  .arrow {
    background: url(../assets/img/select-arrow.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    background-repeat: no-repeat;
    right: 8px;
    top: 25px;
  }
}