@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.c-input {
  border-radius: 4px;
  border: 1px solid #C5CBE0;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.c-input--text {
  font-size: 12px;
  color: #A3ABCC;
}
.c-input input {
  color: #494F66;
  border: none;
  outline: none;
}

.g-select {
  position: relative;
}
.g-select .arrow {
  background: url(../assets/img/select-arrow.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;
  right: 8px;
  top: 25px;
}

.cbx {
  margin: auto;
  display: flex;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #C5CBE0;
  padding-left: 8px;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #83CC5E;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #83CC5E;
}
.cbx .text,
.cbx a {
  color: #A3ABCC;
  font-size: 12px;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #83CC5E;
  border-color: #83CC5E;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.c-button {
  background-color: #EF3340;
  color: white;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.c-link--purple {
  color: #A9B1D1;
  font-size: 12px;
  text-decoration: none;
}
.c-link--purple:hover {
  text-decoration: none;
  color: #939DFF;
}

.radio {
  margin-bottom: 16px;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: white;
  border-radius: 100%;
  border: 1px solid #C5CBE0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #83CC5E;
  box-shadow: inset 0 0 0 4px white;
  border-color: #83CC5E;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #83CC5E;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #83CC5E;
  border-color: #478129;
  background: #478129;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
.radio label {
  display: flex;
  align-items: center;
}
.radio label span {
  font-size: 16px;
  margin-top: -9px;
  display: flex;
}

.list-date--info {
  border-bottom: 1px solid #EDEFF5;
  display: flex;
  padding: 16px 0;
  width: 100%;
}
.list-date--info .type {
  min-width: 120px;
  padding-left: 15px;
}

.steps {
  color: #A3ABCC;
}
@media (min-width: 992px) {
  .steps {
    margin-left: -32px;
  }
}
.steps .text-red {
  color: #EF3340;
}

.list-price {
  display: flex;
  width: 100%;
  overflow: auto;
}
.list-price--item {
  border-radius: 12px;
  border: 3px solid #F0F2FA;
  padding: 15px;
  position: relative;
  width: 100%;
  margin-right: 15px;
  cursor: pointer;
  min-width: 180px;
}
@media (min-width: 992px) {
  .list-price--item {
    min-width: initial;
  }
}
.list-price--item .check {
  border: 1px solid #E4E8F7;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-price--item.active {
  border: 3px solid #83CC5E;
}
.list-price--item.active .check {
  background-color: #83CC5E;
  border: 1px solid #83CC5E;
}
.list-price--text .text1 {
  font-size: 10px;
}
.list-price--text .text2 {
  display: flex;
  margin: 0;
}
.list-price--text .text2 span {
  font-size: 12px;
  padding-top: 10px;
}
.list-price--text .text2 .price {
  font-size: 28px;
  padding: 0;
}

.list-insured--header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E4E8F7;
  padding: 20px 0;
  color: #676F8F;
  font-weight: 300;
}
.list-insured--header .drop {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.list-insured--content {
  padding: 10px 0;
}
.list-insured--content .item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: #494F66;
  font-size: 16px;
}
.list-insured--total {
  border-top: 1px dashed #A3ABCC;
  padding: 20px 0;
}
.list-insured--total .item {
  display: flex;
  justify-content: space-between;
}
.list-insured--total .item .text {
  text-transform: uppercase;
  font-size: 12px;
}
.list-insured--total .item .price {
  font-size: 32px;
}

.box-benefit {
  border: 3px solid #F0F2FA;
  border-radius: 12px;
}
.box-benefit--header {
  background-color: #F0F2FA;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.box-benefit--content {
  padding: 30px 40px;
}
.box-benefit--content .box-title {
  align-items: center;
  border-bottom: 1px solid #E4E8F7;
  display: flex;
  padding-bottom: 30px;
}
.box-benefit--content .box-title .title {
  border-right: 1px solid #E4E8F7;
  width: 100%;
}
.box-benefit--content .box-title img {
  padding: 20px 0 20px 40px;
}
.box-benefit--content .box-heart {
  padding-top: 30px;
}
.box-benefit--content .box-heart--item {
  align-items: center;
  display: flex;
}
.box-benefit--content .box-heart--item p {
  font-size: 20px;
}
.box-benefit--content .box-heart--item p span {
  font-size: 12px;
}
.box-benefit--content .box-heart--item .disabled {
  color: #A3ABCC;
  text-decoration-line: line-through;
  font-size: 14px;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #494F66;
}

.c-red {
  color: #EF3340;
}

.fw--300 {
  font-weight: 300;
}

.title {
  font-size: 28px;
  font-weight: 300;
}
@media (min-width: 992px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 300;
}

.home {
  overflow: hidden;
}
.home .header {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  height: 45px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media (min-width: 992px) {
  .home .header {
    height: 64px;
  }
}
.home--banner {
  background-image: url("../assets/img/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  padding-top: 80px;
  position: relative;
  margin-right: -30px;
}
@media (min-width: 992px) {
  .home--banner {
    height: 800px;
    margin-right: 0;
    padding-top: 200px;
  }
}
.home--banner h1 {
  font-size: 30px;
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .home--banner h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
.home--banner h1 span {
  font-weight: 400;
  display: block;
}
.home--banner .lista-banner {
  list-style: none;
  padding-left: 0;
  color: white;
  font-size: 13px;
  width: 40%;
}
@media (min-width: 992px) {
  .home--banner .lista-banner {
    width: 100%;
    font-size: 16px;
  }
}
.home--banner .lista-banner--item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
@media (min-width: 992px) {
  .home--banner .lista-banner--item {
    align-items: center;
    flex-direction: row;
  }
}
.home--banner .lista-banner--item img {
  width: 14px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .home--banner .lista-banner--item img {
    margin-right: 10px;
    margin-bottom: 0;
    width: 20px;
  }
}
.home--banner .ilustracion {
  position: absolute;
  width: 200px;
  right: -15px;
  bottom: -30px;
}
@media (min-width: 992px) {
  .home--banner .ilustracion {
    width: 300px;
    right: -120px;
    bottom: 100px;
  }
}
.home--banner ::before {
  content: "";
  background-color: #EF3340;
  position: absolute;
  width: 9999px;
  top: 0;
  bottom: 0;
  left: -9999px;
}
.home--form {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .home--form {
    padding-left: 100px;
    padding-top: 150px;
  }
}
.home--form form {
  margin-top: 30px;
}
.home--form h2 {
  font-size: 28px;
  font-weight: 300;
}
.home--form .date-document {
  display: flex;
  align-items: center;
}
.home--form .date-document select {
  border-top: 1px solid #C5CBE0;
  border-left: 1px solid #C5CBE0;
  border-bottom: 1px solid #C5CBE0;
  border-right: 0;
  height: 56px;
  padding: 0 20px 0 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  color: #494F66;
  appearance: initial;
  min-width: 100px;
  position: relative;
}
.home--form .date-document .c-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 992px) {
  .home--form .c-button {
    width: auto;
  }
}

.step .header {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  height: 45px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #EF3340;
}
@media (min-width: 992px) {
  .step .header {
    height: 64px;
    background-color: transparent;
  }
}
.step--banner {
  background-image: url("../assets/img/background2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  padding-top: 80px;
  position: relative;
  margin-right: -30px;
  display: none;
}
@media (min-width: 992px) {
  .step--banner {
    height: 650px;
    margin-right: 0;
    padding-top: 100px;
    display: block;
  }
}
.step--banner .ilustracion {
  position: absolute;
  width: 200px;
  right: -15px;
  bottom: -30px;
}
@media (min-width: 992px) {
  .step--banner .ilustracion {
    width: 300px;
    right: -120px;
    bottom: 100px;
  }
}
.step--banner::before {
  content: "";
  background-color: #EF3340;
  position: absolute;
  width: 9999px;
  top: 0;
  bottom: 0;
  left: -9999px;
}
.step--banner.full {
  height: 100vh;
}
.step--banner.full .ilustracion {
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  right: -180px;
}
.step .home--form {
  padding-top: 80px;
}
.step .c-button {
  float: right;
}

.box-thanks {
  height: 100vh;
  display: flex;
  align-items: center;
}
.box-thanks--content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .box-thanks--content {
    align-items: flex-end;
  }
}
.box-thanks--content .img {
  border-bottom: 1px solid #EDEFF5;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.box-thanks--content .img img {
  margin-bottom: -12px;
}

/*# sourceMappingURL=styles.css.map */
